<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>查询选手</title>

    <!--
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->

    <script type="text/javascript" src="../static/js/vue.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>
    <script src="../static/js/axios-0.18.0.js"></script>

</head>
<body>

<div id="app">

    <div style="margin: 30px 0;"></div>

    <!--面包屑-->
    <!--<el-breadcrumb separator="/" >
        <el-breadcrumb-item ><a href="./main.html">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item>成绩查询</el-breadcrumb-item>
        <el-breadcrumb-item><a href="./players.html">选手</a></el-breadcrumb-item>
    </el-breadcrumb>
    <el-divider></el-divider>-->

    <!-- 间距 -->
    <div style="margin: 30px 0;"></div>

    <el-row>
        <!--地区下拉框-->
        地区:
        <template>
            <el-select v-model="region" placeholder="地区">
                <el-option-group
                        v-for="group in options"
                        :key="group.label"
                        :label="group.label">
                    <el-option
                            v-for="item in group.options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-option-group>
            </el-select>
        </template>

        &nbsp;&nbsp;
        性别:
        <template>
            <el-select v-model="gender" placeholder="性别">
                <el-option
                        v-for="item in options2"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </template>


        &nbsp;&nbsp;&nbsp;&nbsp;
        <el-input v-model="pagination.queryString" style="width: 200px;" placeholder="请输入选手WCAid或姓名"></el-input>
        &nbsp;&nbsp;
        <el-button icon="el-icon-search" circle @click="query(1)"></el-button>
    </el-row>


    <div style="margin: 30px 0;"></div>

    <!-- 表单 -->
    <template>
        <el-table
                :data="tableData"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="wcaid"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="240">
            </el-table-column>
            <el-table-column
                    prop="gender"
                    label="姓别"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="countryId"
                    label="地区">
            </el-table-column>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button type="primary" @click="detail(scope.row)" icon="el-icon-view" size="mini" round>选手详情
                    </el-button>
                </template>
            </el-table-column>


        </el-table>


    </template>

    <div style="margin: 30px 0;"></div>

    <!-- 分页 -->
    <el-pagination
            background
            align="center"
            :pager-count="13"
            @current-change="query"
            :current-page="pagination.currentPage"
            :page-size="pagination.pageSize"
            layout="total,prev, pager, next,jumper"
            :total="pagination.total"><!--总条数-->
    </el-pagination>


</div>

</body>
<script>
    new Vue({
        el: '#app',
        data: {


            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: null,//总记录数
                queryString: null//查询条件
            },
            tableData: [],//当前页要展示的分页列表数据

            //地区下拉数据
            options: [],
            region: 'China',


            //性别下拉数据
            options2: [{
                value: '',
                label: '全部'
            }, {
                value: 'm',
                label: '男'
            }, {
                value: 'f',
                label: '女'

            }],
            gender: ''


        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },

        methods: {
            query(currentPage) {//切换页码
                // currentPage为切换后的页码
                this.pagination.currentPage = currentPage;
                this.findPage();
            },

            findPage() {//分页的方法
                //获取下拉菜单
                this.menuData();

                //分页参数
                var param = {
                    currentPage: this.pagination.currentPage,//页码
                    pageSize: this.pagination.pageSize,//每页显示的记录数
                    queryString: this.pagination.queryString,//查询条件
                    region: this.region,//地区
                    gender: this.gender//性别

                };
                //请求后台
                axios.post("/Query/findPage.do", param).then((resp) => {
                    //为模型数据赋值，基于VUE的双向绑定展示到页面
                    this.tableData = resp.data.rows;//分页数据
                    this.pagination.total = resp.data.total;//页码数
                });
            },

            /*读取下拉菜单信息*/
            menuData() {
                axios.get("/Query/menuData.do").then((resp) => {
                    this.options = resp.data.data;
                });

            },

            detail(row) {//选手详情页
                //选手详情页跳转
                window.location.href = "playersHome.html?personId=" + row.id
            }

        }
    })
</script>
</html>
